[submodule "pack/nvim/start/nvim-treesitter"]
	path = pack/nvim/start/nvim-treesitter
	url = git@github.com:https://github.com/nvim-treesitter/nvim-treesitter.git
[submodule "pack/nvim/start/nvim-dap"]
	path = pack/nvim/start/nvim-dap
	url = https://github.com/mfussenegger/nvim-dap.git
[submodule "pack/nvim/start/nvim-lspconfig"]
	path = pack/nvim/start/nvim-lspconfig
	url = git@github.com:https://github.com/neovim/nvim-lspconfig
[submodule "pack/nvim/start/nvim-dap-python"]
	path = pack/nvim/start/nvim-dap-python
	url = git@github.com:https://github.com/mfussenegger/nvim-dap-python.git
[submodule "pack/nvim/start/nvim-catppuccin"]
	path = pack/nvim/start/nvim-catppuccin
	url = git@github.com:https://github.com/catppuccin/nvim.git
